<div class="col-md-9">

  <div class="bs-example" data-example-id="basic-forms">
    <h3>Add new The Things Network device</h3>
    <form method="post" action="http://datashare.eu-gb.mybluemix.net/newsource">

      <div class="form-group">
        <label for="region">Region</label>
        <input type="text" class="form-control" id="region" name="region" value="eu">

      </div>

      <div class="form-group">
        <label for="appID">Access token</label>
        <input type="text" class="form-control" id="appID" name="appid" value="tnw-smart">

      </div>

      <div class="form-group">
        <label for="accessToken">Access token</label>
        <input type="text" class="form-control" id="accessToken" name="region"
               value="ttn-account-v2.wBANZIGQtnLYHwoPdyJOM9xVHrlJr4mliGRaHp89PXU">

      </div>

      <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
</div>

